<div>
  <h3>Richiedi un preventivo gratuito</h3>
  <form (submit)="onSubmitSend()">
    <mat-form-field class="less-width">
      <input matInput placeholder="Nome e Cognome" required [(ngModel)]="nominativo" name="nominativo">
    </mat-form-field>
    <mat-form-field class="less-width">
      <input matInput placeholder="E-Mail" required [(ngModel)]="email" name="email">
    </mat-form-field>
    <mat-form-field class="less-width">
      <input matInput placeholder="Telefono" required [(ngModel)]="telefono" name="telefono">
    </mat-form-field>
    <mat-form-field class="less-width">
      <input matInput placeholder="Città" required [(ngModel)]="citta" name="citta">
    </mat-form-field>
    <mat-form-field class="less-width">
      <input matInput placeholder="Azienda" [(ngModel)]="azienda" name="azienda">
    </mat-form-field>
    <mat-form-field class="less-width">
      <input matInput placeholder="Sito web esistente o da registrare" [(ngModel)]="sito" name="sito">
    </mat-form-field>
    <mat-form-field class="full-width">
      <textarea matInput matTextareaAutosize placeholder="Eventuali note" [(ngModel)]="note" name="note"></textarea>
    </mat-form-field>
    <div class="center">
      <button type="submit" mat-raised-button>INVIA</button>
      <button type="reset" mat-raised-button>CANCELLA I CAMPI</button>
    </div>
  </form>
</div>
