.object-list {
  .object-description {
    position: relative;
    right: 13px;
    border-left: 1px grey solid;
    padding-left: 13px;

    pre {
      margin-top: 2px;
      color: gray;
      font-size: 0.8rem;
    }
  }
}
