@media screen and (min-width:480px) {
  .propic {
    border-radius: 50%;
    z-index: 100;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 30px;
    right: 50%;
    margin-right: -100px;
  }
}

@media screen and (max-width:479px) {
  .propic {
    border-radius: 50%;
    z-index: 100;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 70px;
    right: 50%;
    margin-right: -75px;
  }
}
