<mat-card class="site-card">
  <mat-card-title>{{site.nome}} <a *ngIf="site.link" [href]="site.link" target="_blank" rel="noopener"><mat-icon>open_in_new</mat-icon></a></mat-card-title>
  <mat-card-subtitle>Per {{site.datore}}<br><span>Dal {{site.periodo.da}}</span><span *ngIf="site.periodo.a; else incorso"> al {{site.periodo.a}}</span></mat-card-subtitle>
  <mat-card-content>
    <p class="descrizione">{{site.descrizione}}</p>
    <!-- <mat-expansion-panel *ngIf="immagini?.length>0">
      <mat-expansion-panel-header>
       <mat-panel-title>
         Galleria
       </mat-panel-title>
       <mat-panel-description>
         Foto del sito
       </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="carousel">
        <carousel [sources]="immagini" [config]="config"></carousel>
      </div>
    </mat-expansion-panel> -->
  </mat-card-content>
</mat-card>

<ng-template #incorso>
  <span>in corso</span>
</ng-template>
