@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  font-family: 'Roboto';
}

body {
  background-image: url('assets/background/pattern.png');
  background-repeat: repeat;
}

a {
  text-decoration: none;
}

mat-toolbar-row.mat-toolbar-row {
    display: inherit !important;
    line-height: 5;
    font-size: .7em;
}

.center {
  text-align: center;
}

.div-cv, .div-portfolio, .div-contatti, .div-musica, .div-competenze {
  margin-top: 20px;
}

.job-card, .site-card {
  width: 60%;
  margin: 5px auto;
}

@media screen and (max-width:625px) {
  .job-card, .site-card {
    width: 75%;
  }
}

@media screen and (max-width:480px) {
  .job-card, .site-card {
    width: auto;
  }
}
