<div class="top-line" *ngIf="!first">
  <div class="first"></div>
  <div class="second" [ngClass]="{ 'border-top border-left': section.lineStyle === 'right-left' }"></div>
  <div class="third" [ngClass]="{ 'border-top border-right': section.lineStyle === 'left-right' }"></div>
  <div class="fourth"></div>
</div>

<section class="daudr-section" [ngClass]="{ 'section-right': right }">
  <mat-card>
    <mat-card-title>{{ section.title }}</mat-card-title>
    <mat-card-content>
      <p class="descrizione">{{ section.description }}</p>
    </mat-card-content>
  </mat-card>
</section>

<div class="bottom-line" *ngIf="!last">
  <div class="first"></div>
  <div class="second" [ngClass]="{ 'border-bottom border-left': section.lineStyle === 'right-left' }"></div>
  <div class="third" [ngClass]="{ 'border-bottom border-right': section.lineStyle === 'left-right' }"></div>
  <div class="fourth"></div>
</div>
